---
import { Test } from "../components/Test";
import Layout from "../layouts/Layout.astro";

const apiUrl = import.meta.env.MICROCMS_SERVICE_DOMAIN;
const baseHeaders = {
  headers: { "X-MICROCMS-API-KEY": import.meta.env.MICROCMS_API_KEY },
};

const response = await fetch(apiUrl, baseHeaders);
const data = await response.json();

const content: string = data.contents[0].content;
---

<Layout title="micro">
  <main>
    <div class="div">fdf</div>
    <!-- <Test content={content} /> -->
  </main>
</Layout>

<style>
  .div {
    height: 1000px;
  }
</style>
